*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    height: 100%;
}


body {
    height: 100%;
}


.hidden {
    display: none !important;
}


section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


section.feedback {
    background: center center no-repeat;
    background-size: 200px;
}

section.feedback.correct {
    background-image: url("../images/smiley.svg");
}

section.feedback.wrong {
    background-image: url("../images/saddy.svg");
}


section.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section.message h1 {
    width: 70%;
    font: bold 10rem "Open Sans Light", "OpenSansLight", sans-serif;
    color: #222;
    text-align: center;
    margin: 1.5rem 0;
}


section.message p {
    width: 70%;
    font: normal 4rem "Open Sans Light", "OpenSansLight", sans-serif;
    color: #222;
    text-align: center;
    margin: 1.5rem 0;
}


section.cue-display .cue {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 10px;
    margin-top: -5px;
    background-color: #222;
    border-radius: 10px;
    transform-origin: center left;
}

section.cue-display .cue.one {
    transform: rotateZ(-60deg);
}

section.cue-display .cue.three {
    transform: rotateZ(0deg);
}

section.cue-display .cue.five {
    transform: rotateZ(60deg);
}

section.cue-display .cue.seven {
    transform: rotateZ(120deg);
}

section.cue-display .cue.nine {
    transform: rotateZ(180deg);
}

section.cue-display .cue.eleven {
    transform: rotateZ(-120deg);
}


.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    background: center center no-repeat;
    background-size: cover;
}

.icon.p-two {
    transform: translate(259.80762px, -150px);
}

.icon.p-four {
    transform: translate(259.80762px, 150px);
}

.icon.p-six {
    transform: translate(0, 300px);
}

.icon.p-eight {
    transform: translate(-259.80762px, 150px);
}

.icon.p-ten {
    transform: translate(-259.80762px, -150px);
}

.icon.p-twelve {
    transform: translate(0, -300px);
}


.icon.i-one {
    background-image: url("../../images/one/black.svg");
}

.icon.i-one.blue {
    background-image: url("../../images/one/blue.svg");
}

.icon.i-one.brown {
    background-image: url("../../images/one/brown.svg");
}

.icon.i-one.green {
    background-image: url("../../images/one/green.svg");
}

.icon.i-one.orange {
    background-image: url("../../images/one/orange.svg");
}

.icon.i-one.pink {
    background-image: url("../../images/one/pink.svg");
}

.icon.i-one.purple {
    background-image: url("../../images/one/purple.svg");
}

.icon.i-one.red {
    background-image: url("../../images/one/red.svg");
}

.icon.i-one.yellow {
    background-image: url("../../images/one/yellow.svg");
}


.icon.i-two {
    background-image: url("../../images/two/black.svg");
}

.icon.i-two.blue {
    background-image: url("../../images/two/blue.svg");
}

.icon.i-two.brown {
    background-image: url("../../images/two/brown.svg");
}

.icon.i-two.green {
    background-image: url("../../images/two/green.svg");
}

.icon.i-two.orange {
    background-image: url("../../images/two/orange.svg");
}

.icon.i-two.pink {
    background-image: url("../../images/two/pink.svg");
}

.icon.i-two.purple {
    background-image: url("../../images/two/purple.svg");
}

.icon.i-two.red {
    background-image: url("../../images/two/red.svg");
}

.icon.i-two.yellow {
    background-image: url("../../images/two/yellow.svg");
}


.icon.i-three {
    background-image: url("../../images/three/black.svg");
}

.icon.i-three.blue {
    background-image: url("../../images/three/blue.svg");
}

.icon.i-three.brown {
    background-image: url("../../images/three/brown.svg");
}

.icon.i-three.green {
    background-image: url("../../images/three/green.svg");
}

.icon.i-three.orange {
    background-image: url("../../images/three/orange.svg");
}

.icon.i-three.pink {
    background-image: url("../../images/three/pink.svg");
}

.icon.i-three.purple {
    background-image: url("../../images/three/purple.svg");
}

.icon.i-three.red {
    background-image: url("../../images/three/red.svg");
}

.icon.i-three.yellow {
    background-image: url("../../images/three/yellow.svg");
}


.icon.i-four {
    background-image: url("../../images/four/black.svg");
}

.icon.i-four.blue {
    background-image: url("../../images/four/blue.svg");
}

.icon.i-four.brown {
    background-image: url("../../images/four/brown.svg");
}

.icon.i-four.green {
    background-image: url("../../images/four/green.svg");
}

.icon.i-four.orange {
    background-image: url("../../images/four/orange.svg");
}

.icon.i-four.pink {
    background-image: url("../../images/four/pink.svg");
}

.icon.i-four.purple {
    background-image: url("../../images/four/purple.svg");
}

.icon.i-four.red {
    background-image: url("../../images/four/red.svg");
}

.icon.i-four.yellow {
    background-image: url("../../images/four/yellow.svg");
}


.icon.i-five {
    background-image: url("../../images/five/black.svg");
}

.icon.i-five.blue {
    background-image: url("../../images/five/blue.svg");
}

.icon.i-five.brown {
    background-image: url("../../images/five/brown.svg");
}

.icon.i-five.green {
    background-image: url("../../images/five/green.svg");
}

.icon.i-five.orange {
    background-image: url("../../images/five/orange.svg");
}

.icon.i-five.pink {
    background-image: url("../../images/five/pink.svg");
}

.icon.i-five.purple {
    background-image: url("../../images/five/purple.svg");
}

.icon.i-five.red {
    background-image: url("../../images/five/red.svg");
}

.icon.i-five.yellow {
    background-image: url("../../images/five/yellow.svg");
}


.icon.i-six {
    background-image: url("../../images/six/black.svg");
}

.icon.i-six.blue {
    background-image: url("../../images/six/blue.svg");
}

.icon.i-six.brown {
    background-image: url("../../images/six/brown.svg");
}

.icon.i-six.green {
    background-image: url("../../images/six/green.svg");
}

.icon.i-six.orange {
    background-image: url("../../images/six/orange.svg");
}

.icon.i-six.pink {
    background-image: url("../../images/six/pink.svg");
}

.icon.i-six.purple {
    background-image: url("../../images/six/purple.svg");
}

.icon.i-six.red {
    background-image: url("../../images/six/red.svg");
}

.icon.i-six.yellow {
    background-image: url("../../images/six/yellow.svg");
}


.icon.i-seven {
    background-image: url("../../images/seven/black.svg");
}

.icon.i-seven.blue {
    background-image: url("../../images/seven/blue.svg");
}

.icon.i-seven.brown {
    background-image: url("../../images/seven/brown.svg");
}

.icon.i-seven.green {
    background-image: url("../../images/seven/green.svg");
}

.icon.i-seven.orange {
    background-image: url("../../images/seven/orange.svg");
}

.icon.i-seven.pink {
    background-image: url("../../images/seven/pink.svg");
}

.icon.i-seven.purple {
    background-image: url("../../images/seven/purple.svg");
}

.icon.i-seven.red {
    background-image: url("../../images/seven/red.svg");
}

.icon.i-seven.yellow {
    background-image: url("../../images/seven/yellow.svg");
}


.icon.i-eight {
    background-image: url("../../images/eight/black.svg");
}

.icon.i-eight.blue {
    background-image: url("../../images/eight/blue.svg");
}

.icon.i-eight.brown {
    background-image: url("../../images/eight/brown.svg");
}

.icon.i-eight.green {
    background-image: url("../../images/eight/green.svg");
}

.icon.i-eight.orange {
    background-image: url("../../images/eight/orange.svg");
}

.icon.i-eight.pink {
    background-image: url("../../images/eight/pink.svg");
}

.icon.i-eight.purple {
    background-image: url("../../images/eight/purple.svg");
}

.icon.i-eight.red {
    background-image: url("../../images/eight/red.svg");
}

.icon.i-eight.yellow {
    background-image: url("../../images/eight/yellow.svg");
}



.action {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    background: center center no-repeat;
    background-size: cover;
    cursor: pointer;
}

.action.left {
    background-image: url("../images/left.svg");
    transform: translateX(-250px);
}

.action.right {
    background-image: url("../images/right.svg");
    transform: translateX(250px);
}
