*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 5rem;
    margin: 0;
    font-family: "OpenSansLight";
    font-size: 1.6em;
}

a {
    display: block;
    width: calc((100% - 6rem) / 3);
    border: 1px solid #333;
    margin: 1rem;
    position: relative;
    color: #333;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

a:hover,
a:focus {
    border-width: 3px;
}

a::before {
    content: "";
    display: block;
    padding-top: calc(100% / 16 * 9);
}

span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}
